* {
    box-sizing: border-box;
}

body {
    background-color: #fff4ec;
}

.menu {
    list-style: none; /* remove bullet points */
    display: flex; /* make the menu items display in a row */
    padding: 0; /* add this line to remove any default padding */
}

.menu li {
    margin: 0 9px; /* add some space between menu items */
    text-align: center;
    font-size: 18px;
    font-family: "Bitter", Helvetica, sans-serif;
    font-weight: 300;
}

.menu a.active {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .menu a.active {
        text-decoration: none;
    }
}

.hamburger {
    display: none;
    font-size: 30px;
    padding: 10px;
    background-color: #fff4ec;
    border: none;
    margin-left: auto;
}

.cross {
    display: none;
    font-size: 30px;
    background-color: #fff4ec;
    border: none;
    margin-left: auto;
    padding: 10px;
}

@media (max-width: 600px) {
    .menu {
        list-style: none;
        display: none; /* Initially hidden */
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 60px;
        padding: 0;
        background-color: #fff;
    }

    .menu li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .menu li:last-child {
        border-bottom: none;
    }

    .hamburger {
        display: block;
    }
}

.menu-container {
    display: flex;
    justify-content: right; /* center the .menu within its container */
    flex-grow: 1; /* make the container grow to fill available space */
    margin: 0 4em 0 0; /* add some space between menu items */
}

@media (max-width: 600px) {
    .menu-container {
        margin: 0; /* add some space between menu items */
    }
}

.home-button {
    font-family: "Bitter", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 32px;
    margin: 0 0 0 3em; /* add some space between menu items */
}

@media (max-width: 600px) {
    .home-button {
        font-size: 28px;
        margin: 0 0 0 1em; /* add some space between menu items */
    }
}

.header a {
    color: #000; /* set the text color */
    text-decoration: none;
    text-align: center;
}

.header a:hover {
    color: rgb(163, 149, 148);
}

.header {
    width: 100%;
    height: 15vh;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 600px) {
    .header {
        height: 10vh;
    }
}

.overall h3 {
    display: block;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Bitter";
    font-size: 24px;
}


.overall li {
    list-style: none;
    text-align: left;
    font-size: 18px;
    font-family: "Bitter", Helvetica, sans-serif;
    font-weight: 300;
    max-width: calc(100% - 40em); /* Set a max-width for the list items */
    margin: 1em auto; /* Center the list items and keep the top/bottom margin */
}

@media (max-width: 900px) {
    .overall h3 {
        display: block;
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: "Bitter";
        font-size: 24px;
    }


    .overall li {
        list-style: circle;
        display: block;
        margin-top: 2em;
        margin-right: 0.5em;
        text-align: left;
        font-size: 18px;
        font-family: "Bitter", Helvetica, sans-serif;
        font-weight: 300;
        max-width: none;
    }
}

@media (max-width: 600px) {
    .overall h3 {
        display: block;
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: "Bitter";
        font-size: 24px;
    }


    .overall li {
        list-style: circle;
        display: block;
        margin-top: 2em;
        margin-right: 0.5em;
        text-align: left;
        font-size: 16px;
        font-family: "Bitter", Helvetica, sans-serif;
        font-weight: 300;
        max-width: none;
    }
}

.xp-links a {
    color: inherit; /* Inherit the color from the parent element */
    text-decoration: none;
}

.xp-links a:hover {
    color: rgb(163, 149, 148);
}

#ultimo {
    margin-bottom: 2em;
}

.icon-container {
    /* Center the icons horizontally */
    display: flex;
    justify-content: center;
    /* Optional: Add some space around the icons */
    margin-top: 60px;
}

/* Optional: Style the icons */
.icon-container img {
    /* Add some space between the icons */
    margin: 0 10px;
    /* Add additional styling if needed */
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
}
